#input {
	width: 90%;
	min-height: 15em;
}

#token-list {
	width: 75%;
	min-height: 10em;
	max-height: 20em;
	overflow-y: scroll;
}

#syntax-color {
	width: 90%;
	min-height: 30em;
	border: none;
}

summary {
	cursor: pointer;
}

.hidden {
	display: none;
}
